:root {
    --fg-1: #ddddff;
    --fg-2: #4acfef;
    --fg-3: #caa2d2;
}

html, body { height: 100%; margin: 0; }

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--fg-1);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    display: block;
    border: 1px solid var(--fg-1)
}
